.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .booking-details {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .hotel-name {
    font-weight: bold;
    color: #3f51b5;
  }
  
  .guest-name {
    font-weight: bold;
    color: #9c27b0;
  }
  
  .num-rooms {
    color: #e91e63;
  }
  
  .num-guests {
    color: #4caf50;
  }
  
  .checkin-date {
    color: #ff9800;
  }
  
  .checkout-date {
    color: #2196f3;
  }
  
  .confirmation-email {
    color: #607d8b;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  .my-booking-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .my-booking-container h2 {
    font-size: 24px;
    color: #333;
  }
  
  .my-booking-container p {
    margin: 10px 0;
  }
  
  .my-booking-container button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-booking-container button:hover {
    background-color: #d32f2f;
  }
  
  .my-booking-container table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .my-booking-container td {
    padding: 10px;
    border: 1px solid rgb(14, 7, 7);
  }
  
  .my-booking-container tr:nth-child(even) {
    background-color: #96a19a;
  }
  
  .my-booking-container td:first-child {
    font-weight: bold;
    width: 30%;
    background-color: rgb(236, 235, 225);
  }
  